.category a {
  text-decoration: none;
  color: black;
}

.category a:hover {
  text-decoration: underline;
}

.categoryImg {
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.categoryImg img {
  width: 100%;
}

.categoryTitle {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
