/* Row Direction Styles */

.product-row {
  display: flex;
}

.productImg-row {
  width: 120px;
  height: 180px;
  background-color: #f2f2f2;
}

.productImg-row img {
  width: 100%;
  height: 100%;
  display: block;
}

.productInfo-row {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 140px;
}

.product-row h2 {
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
}

.product-row h3 {
  font-size: 13px;
}

/* Column Direction Styles */

.product-column {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.productImg-column {
  height: 225px;
  background-color: #f2f2f2;
}

.productImg-column img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-column h2 {
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-column h3 {
  font-size: 13px;
}
