.categorySkeleton {
  width: 180px;
  height: 215px;
}

.categoryImgSkeleton {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.categoryTitleSkeleton {
  width: 100%;
  height: 17px;
  margin-top: 10px;
}
