.headerContainer {
  padding: 15px 0;
  background-color: #f7f7fa;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.7rem;
  margin: 0;
  display: flex;
}

.headerLogo span:first-child {
  display: block;
  margin-right: 3px;
}

.headerRightBar {
  display: flex;
  flex-direction: row;
}

.headerRightBar > a:first-child {
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
